<section ng-controller="aboutController">
    <ng-include src="'ng-templates/partials/header.html'"></ng-include>
    <div class="row">
        <div class="large-6 columns">
            <h2>Hue Bridge</h2>
            <p>The following details are available about your Philips Hue Bridge, if you run into a problem make sure to include these details in the bug report.</p>
            <table class="table table--dl">
                <tr>
                    <td>Name</td>
                    <td>{{ config.bridge.name || 'unknown' }}</td>
                </tr>
                <tr>
                    <td>Internal IP</td>
                    <td>{{ config.bridge.ipaddress || 'unknown' }}</td>
                </tr>
                <tr>
                    <td>Bridge Identifier</td>
                    <td>{{ config.bridge.bridgeid || 'unknown' }}</td>
                </tr>
                <tr>
                    <td>API version</td>
                    <td>{{ config.bridge.apiversion || 'unknown' }}</td>
                </tr>
                <tr>
                    <td>Software version</td>
                    <td>{{ config.bridge.swversion || 'unknown' }}</td>
                </tr>
                <tr>
                    <td>Timezone</td>
                    <td>{{ config.bridge.timezone || 'unknown' }}</td>
                </tr>
            </table>
        </div>
        <div class="large-6 columns">
            <h2>Spectrum</h2>
            <p>The current version of Spectrum is v{{ config.version.patch }} and it's being developed with loads of &hearts; by <a href="{{ config.author.url }}" target="_blank">{{ config.author.name }}</a>.</p>
            <p>It's also open-source and available at <a href="{{ config.repository }}" target="_blank">BitBucket</a>!</p>
        </div>
    </div>
</section>