<section ng-controller="devicesController">
    <ng-include src="'ng-templates/partials/header.html'"></ng-include>
    <table>
        <tr>
            <th>Name</th>
            <th>Last used</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="device in devices | orderBy : 'accessed' : true" ng-class="{ 'is-disabled' : device.disabled }">
            <td><span title="Username: {{ device.username }}">{{ device.name }}</span></td>
            <td><span am-time-ago="device.accessed" title="{{ device.accessed }}"></span></td>
            <td><span am-time-ago="device.created" title="{{ device.created }}"></span></td>
            <td><a ng-click="delete(device.username)">Delete</a></td>
        </tr>
    </table>
</section>