<section ng-controller="extensionsController">
    <ng-include src="'ng-templates/partials/header.html'"></ng-include>
    <table class="table--last-left">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Author</th>
        </tr>
        <tr ng-repeat="(index, extension) in extensions">
            <td>{{ extension.name }}</td>
            <td>{{ extension.version }}</td>
            <td>{{ extension.author }}</td>
        </tr>
    </table>
</section>