<section ng-controller="groupsController">
    <ng-include src="'ng-templates/partials/header.html'"></ng-include>
    <table class="has-dropdowns">
        <tr>
            <th class="table-column--small">ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat-start="(index, group) in groups" ng-class="group.open ? 'is-open' : ''" ng-click="open(group)">
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.type }}</td>
            <td>
                <div class="switch" ng-click="$event.stopPropagation()" ng-class="{ indeterminate: ( group.state === 'some' ) }">
                    <input id="group-switch-{{ index }}" class="switch-input" type="checkbox" ng-model="group.on">
                    <label for="group-switch-{{ index }}" class="switch-label"></label>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end class="table-row--dropdown">
            <td colspan="5">{{ group }}</td>
        </tr>
    </table>
</section>