<section ng-controller="lightsController">
    <ng-include src="'ng-templates/partials/header.html'"></ng-include>
    <table class="has-dropdowns">
        <tr>
            <th class="table-column--small">ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat-start="(index, light) in lights" ng-class="light.open ? 'is-open' : ''" ng-click="open(light)">
            <td>{{ light.id }}</td>
            <td>{{ light.name }}</td>
            <td>{{ light.type }}</td>
            <td>{{ light.modelid }}</td>
            <td>
                <div class="switch" ng-click="$event.stopPropagation()">
                    <input id="light-switch-{{ light.id }}" class="switch-input" type="checkbox" ng-model="light.state.on">
                    <label for="light-switch-{{ light.id }}" class="switch-label"></label>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end class="table-row--dropdown">
            <td colspan="5">
                <colorpicker ng-model="light.colorpicker"></colorpicker>
            </td>
        </tr>
    </table>
</section>