<section class="dashboard" ng-controller="dashboardController" ng-class="{ 'is-loading': loading }">
    <aside class="sidebar">
        <h1 class="sidebar-logo">Spectrum <span class="sidebar-logo-version" title="Version {{ config.version.patch }}">{{ config.version.minor }}</span></h1>
        <ul class="sidebar-nav">
            <li ui-sref-active="is-active"><a ui-sref="dashboard.lights">Lights</a></li>
            <li ui-sref-active="is-active"><a ui-sref="dashboard.groups">Groups</a></li>
            <li ui-sref-active="is-active"><a ui-sref="dashboard.schedules">Schedules</a></li>
        </ul>
        <ul class="sidebar-nav">
            <li ui-sref-active="is-active"><a ui-sref="dashboard.extensions">Extensions</a></li>
            <li ui-sref-active="is-active"><a ui-sref="dashboard.apibuilder">API Builder</a></li>
            <li ui-sref-active="is-active"><a ui-sref="dashboard.devices">Devices</a></li>
            <li ui-sref-active="is-active"><a ui-sref="dashboard.about">About</a></li>
        </ul>
    </aside>
    <main class="main">
        <div class="main-content" ui-view></div>
    </main>
</section>