<div class="colorpicker">
    <div class="row row--no-margin">
        <div class="large-4 columns">
            <label class="label label--small">Hue</label>
            <rzslider rz-slider-model="light.slider.hue" rz-slider-options="options.hue" class="colorpicker-pick colorpicker-pick--hue"></rzslider>
        </div>
        <div class="large-4 columns">
            <label class="label label--small">Saturation</label>
            <rzslider rz-slider-model="light.slider.sat" ng-style="{ 'background-color': color }" rz-slider-options="options.sat"class="colorpicker-pick colorpicker-pick--sat"></rzslider>
        </div>
        <div class="large-4 columns">
            <label class="label label--small">Brightness</label>
            <rzslider rz-slider-model="light.slider.bri" ng-style="{ 'background-color': color }" rz-slider-options="options.bri" class="colorpicker-pick colorpicker-pick--bri"></rzslider>
        </div>
    </div>
</div>