<div class="setup-content" ng-class="{ 'is-searching': status === 'searching' || status === 'user-setup', 'error': status === 'not-found' || status === 'user-setup-failed' }">
    <section ng-show="status === 'searching'">
        <h1 class="setup-title">One moment, please</h1>
        <p>Spectrum is searching for your Philips Hue Bridge...</p>
    </section>
    <section ng-show="status === 'user-setup'">
        <h1 class="setup-title">We need your finger!</h1>
        <p>Spectrum found your bridge but we need you to press the link button to allow Spectrum to connect to it.</p>
        <a ui-sref="setup.manual" class="button button--primary">Cancel</a>
    </section>
    <section ng-show="status === 'not-found'">
        <h1 class="setup-title">Uh-oh</h1>
        <p>Spectrum couldn't find your bridge, please connect manually or try again.</p>
        <a ui-sref="setup.manual" class="button button--primary">Manual setup</a>
        <a class="button" ng-click="setup()">Retry</a>
    </section>
</div>