<div class="setup-content">
    <h1 class="setup-title">Manual setup</h1>
    <p>Provide the details about your Philips Hue Bridge below so Spectrum can connect to it.</p>
    <p>You can also let Spectrum find your bridge <a ui-sref="setup.automatic">automagically</a>.</p>
    <form>
        <label>IP address</label>
        <input type="text" placeholder="192.168.2.2">
        <input type="submit" class="button button--primary" value="Connect">
    </form>
</div>