$sidebar-width: 26.25%;
$sidebar-width-min: 300px;
$sidebar-width-max: 420px;

$primary-color: #28baaf;
$background-primary: #24222d;
$background-secondary: #2c2c3c;
$border-color: rgba(#fff, .1);
$border-color-darker: rgba(#fff, .05);
$border-color-lighter: rgba(#fff, .15);

$heading-font-color: #fff;
$body-font-color: rgba($heading-font-color, .65);

$base-font: Noto Sans, sans-serif;
$heading-font: Noto Sans, sans-serif;