.button {
    display: inline-block;
    padding: 11px 18px;
    margin: 0 5px 0 0;
    background-color: rgba($background-secondary, .8);
    font-weight: normal;
    transition: background .2s;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: rgba(#fff, .8);

    &:before,
    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: $primary-color;
        text-decoration: none;
    }

    &:last-of-type {
        margin-right: 0;
    }
}
.button--primary {
    color: #fff;
    background-color: mix(#fff, rgba($background-secondary, .8), 5%);
}