.colorpicker {
    margin-bottom: 1rem;
}
.colorpicker-pick {
    margin: 0;
    height: 20px;
    background-color: rgba(#000, .2);
    border-radius: 10px;

    .rz-bar-wrapper {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .rz-bar {
        height: 100%;
        border-radius: 10px;
        margin: 0;
        overflow: hidden;
        background-color: transparent;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .rz-bubble {
        display: none;
    }
    .rz-pointer {
        top: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        border: none;
        outline: none;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            background-color: #fff !important;
            border-radius: 50%;
        }
    }
}
.colorpicker-pick--hue .rz-bar:before {
    background: -webkit-linear-gradient(left, hsl(0, 75%, 50%), hsl(60, 75%, 50%), hsl(120, 75%, 50%), hsl(180, 75%, 50%), hsl(240, 75%, 50%), hsl(300, 75%, 50%), hsl(0, 100%, 50%) 100%);
}
.colorpicker-pick--sat .rz-bar:before {
    background: -webkit-linear-gradient(left, rgba(#fff, .9) 0%, rgba(#fff, .001) 100%);
}
.colorpicker-pick--bri .rz-bar:before {
    background: -webkit-linear-gradient(left, rgba(mix(#000, $background-primary, .1), .9) 0%, rgba(mix(#000, $background-primary, .1), .001) 100%);
}