form {
    margin-bottom: 1rem;
    @extend .clearfix;
}

label {
    display: block;
    margin-bottom: .5rem;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 1rem;
    background-color: rgba($background-secondary, .8);
    border: none;
    outline: none;
    transition: background .15s;

    &:focus {
        background-color: mix(#fff, rgba($background-secondary, .8), 5%);
    }
}
input[type="submit"] {
    float: right;
}

.label--small {
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: .1rem;
}