html, body {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

// Vertical centering
.vertical-center {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

// Main
.main {
    width: 100%;
    min-height: 100%;
    padding-left: $sidebar-width-max;
    background: linear-gradient(135deg, $background-primary 25%, #262c37);

    @include mq(1600) {
        padding-left: $sidebar-width;
    }
    @include mq(1140) {
        padding-left: $sidebar-width-min;
    }
}
.main-content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 35px;

    > section > .row {
        margin-left: -($grid-column-gutter/2);
        margin-right: -($grid-column-gutter/2);
    }
}
.main-header {
    position: relative;
    display: block;
    padding-bottom: 18px;
    border-bottom: 1px dotted $border-color;
    margin-bottom: 30px;

    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        position: absolute;
        bottom: -1px;
        background-color: $border-color-lighter;
    }
}
.main-header-title {
    margin: 0;
}
.main-header-description {
    margin: -5px 0 5px;
    opacity: .85;
}