.setup {
    display: table;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px 70px;
    background: $background-primary;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/background2.jpg') no-repeat center;
        background-size: cover;
        filter: blur(8px);
        opacity: .1;
        transition: opacity 1.25s 0s;

        body.loading & {
            opacity: 0;
        }
    }

    p {
        opacity: .8;

        a {
            color: $primary-color;
            font-weight: normal;

            &:hover {

            }
        }
    }
}
.setup-content {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 520px;
    max-width: 100%;
    padding: 25px;
    overflow: hidden;
    background-color: rgba($background-primary, .75);
    text-align: left;
    opacity: 1;
    transform: none;
    transition: all .25s;

    body.loading & {
        opacity: 0;
        transform: translateY(20px);
    }

    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
    }
    &:before {
        width: 100%;
        background-color: rgba($background-secondary, 1);
    }
    &:after {
        width: 100%;
        background-color: $primary-color;
        transition: all .2s;
    }
    &.is-searching:after {
        width: 40%;
        transform: translateX(-100%);
        animation: loading 2s .5s infinite linear;
        transition: all .5s;
    }
    &.error:after {
        background-color: #e74c3c;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
.setup-title {
    margin: 0 0 .2rem;
    font-size: 1.5rem;
}

@keyframes loading {
    from { transform: translateX(-100%); }
    to { transform: translateX(350%); }
}