.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    min-width: $sidebar-width-min;
    max-width: $sidebar-width-max;
    height: 100%;
    padding: 30px 0;
    background: $background-secondary;
    background: linear-gradient(150deg, $background-secondary, #2c293b);
    overflow: auto;

    > *:last-child {
        margin-bottom: 0;
    }
}

.sidebar-logo {
    display: block;
    text-transform: lowercase;
    margin: 0 0 30px;
    font-weight: normal;
    padding: 0 30px;
}
.sidebar-logo-version {
    font-size: 12px;
    background-color: rgba(#000, .33);
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    top: -15px;
    left: -4px;
}

.sidebar-nav {
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;

    li {
        display: block;
        border-bottom: 1px solid rgba(#fff, .05);
        background-color: rgba(#111, .05);

        &:first-child {
            border-top: 1px solid rgba(#fff, .05);
        }

        &.is-active a {
            border-left: 5px solid $primary-color;
            background: $background-primary;
            background: linear-gradient(to right, rgba(#000, .25), $background-primary 90%);
            color: $heading-font-color;
            padding-left: 25px;
            font-weight: bold;
        }
    }
    a {
        display: block;
        font-weight: normal;
        padding: 18px 30px;
        text-decoration: none;
        opacity: .9;

        &:hover {
            background-color: rgba(#111, .15);
        }
        &:after {
            display: none;
        }
    }
}