.status {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(#000, .33);
    border-radius: 50%;
}
.status--success {
    background-color: #2cc36b;
}
.status--error {
    background-color: #e74c3c;
}