.switch {
    display: inline-block;
    position: relative;

    table & {
        margin-top: 6px;
    }
}
.switch-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:checked + .switch-label {
        background-color: $heading-font-color;

        &:after {
            transform: translateX(14px);
            background-color: rgba(#000, .8) !important;
        }
    }
}
.switch-label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    background: rgba(#000, .25s);
    width: 35px;
    height: 20px;
    margin: 0;
    border-radius: 10px;
    transition: all .2s;

    &:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: $body-font-color;
        border-radius: 50%;
        transition: all .2s;

        .switch:hover & {
            background-color: $heading-font-color;
        }
        .switch.indeterminate & {
            transform: translateX(7px);
        }
    }
}