// Default tables
table {
    width: 100%;
}
tr {
    &:last-child {
        td,
        th {
            border-bottom: none;

            &:before,
            &:after {
                display: none;
            }
        }
    }
    table.has-dropdowns &:nth-last-child(2) {
        td,
        th {
            border-bottom: none;

            &:before,
            &:after {
                display: none;
            }
        }
        &.is-open + tr {
            border-top: 1px dotted $border-color-darker;
            border-bottom: 1px dotted $border-color-darker;
        }
    }
}
td,
th {
    color: $body-font-color;
    padding: 14px 16px;
    border-bottom: 1px dotted $border-color-darker;
    border-right: 1px dotted $border-color-darker;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        right: -1px;
        background-color: $border-color-lighter;
    }
    &:before {
        width: 1px;
        height: 11px;
        bottom: -6px;
    }
    &:after {
        width: 11px;
        height: 1px;
        right: -6px;
    }

    &:last-child {
        border-right: none;

        &:before,
        &:after {
            display: none;
        }
    }
    table:not(.table--last-left) &:last-child {
        text-align: right;
    }
    &:only-child {
        text-align: left;
    }

    table.has-dropdowns & {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    tr.is-open & {
        color: $heading-font-color;
        background-color: rgba(#000, .075);

        &:before,
        &:after {
            display: none;
        }
    }
    tr.is-disabled & {
        cursor: not-allowed;

        &, * {
            color: rgba($body-font-color, .25) !important;
        }
        * {
            pointer-events: none
        }
    }
    [am-time-ago] {
        display: inline-block;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}
th {
    text-align: left;
    font-weight: bold;
    color: $heading-font-color;
}
td {
    table.has-dropdowns tr:not(.table-row--dropdown) & {
        transition: all .1s;
        cursor: pointer;
    }
    tr:not(.is-disabled):hover & {
        color: $heading-font-color;
        background-color: rgba(#000, .075);
    }
}

// Rows
.table-row--dropdown {
    display: none;

    td {
        text-align: left;
        padding: 20px 20px 30px;
        background-color: rgba(#000, .075);
    }
    tr.is-open + & {
        display: table-row;
    }
}

// Columns
.table-column--small {
    width: 60px;
}
.table-column--xsmall {
    width: 45px;
}
.table-column--square {
    width: 56px;
    text-align: center !important;
}

// Advanced definition lists
.table--dl td {
    text-align: left !important;
}