html, body {
    font-family: $base-font;
    font-size: 17px;
    font-weight: normal;
    color: $body-font-color;
}
body {
    line-height: 1.6;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    color: $heading-font-color;
}
h1 {
    font-weight: normal;
}
h2 {
    font-weight: 300;
    margin-bottom: .25rem;
}

// Block
p {
    margin: 0 0 1rem;
}

// Inline
a {
    display: inline-block;
    position: relative;
    color: $body-font-color;
    font-weight: bold;
    text-decoration: none;
    transition: color .15s;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        border-bottom: 1px dotted $body-font-color;
        transition: all .15s;
    }

    &:hover {
        color: $heading-font-color;

        &:after {
            width: 100%;
            left: 0;
        }
    }
}