// - - - COLORS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$primary-color: #fb2266 !default;

// - - - GRID - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// Columns
$grid-width: 1280px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 30px !default;

// Breakpoints
$grid-breakpoints: (
    'small'   : (0em,          40em),
    'medium'  : (40.0625em, 64em),
    'large'   : (64.0625em, 90em),
    'xlarge'  : (90.0625em, 120em),
    'xxlarge' : (120.0625em),
) !default;